<div class="ui container category fade">
  <div (click)="goToLocal()" class="local">
    <button class="ui inverted red button">Local</button>
  </div>
  <div (click)="goToRegional()" class="regional">
    <button class="ui inverted red button">Regional</button>
  </div>
  <div (click)="goToEstatal()" class="Estatal">
    <button class="ui inverted red button">Estatal</button>
  </div>
  <div (click)="goToNacional()" class="nacional">
    <button class="ui inverted red button">Nacional</button>
  </div>
  <div (click)="goToInternacional()" class="internacional">
    <button class="ui inverted red button">Internacional</button>
  </div>
</div>


<app-slider></app-slider>

<div class="ui container lastest">
  <app-lastestfeed [lastestArticles]="lastestArticles"></app-lastestfeed>
</div>

<div class="ui container inicio">
  <app-feedarticle [Articles]="regionalArticles"></app-feedarticle>
  <app-feedarticle [Articles]="localArticles"></app-feedarticle>
  <app-feedarticle [Articles]="nationalArticles"></app-feedarticle>
  <app-feedarticle [Articles]="internationalArticles"></app-feedarticle>
</div>


<div class="footer fade">
  <div class="social">
    <a href=""> <img src="../../../assets/img/facebook.png" alt=""></a>
    <a href=""> <img src="../../../assets/img/twitter.png" alt=""></a>
  </div>
  <div>
    <p>&copy;Derechos Reservados</p>
  </div>
</div>
