<div class="ui container category fade">
  <div (click)="goToLocal()" class="local">
    <button class="ui inverted red button">Local</button>
  </div>
  <div (click)="goToRegional()" class="regional">
    <button class="ui inverted red button">Regional</button>
  </div>
  <div (click)="goToEstatal()" class="Estatal">
    <button class="ui inverted red button">Estatal</button>
  </div>
  <div (click)="goToNacional()" class="nacional">
    <button class="ui inverted red button">Nacional</button>
  </div>
  <div (click)="goToInternacional()" class="internacional">
    <button class="ui inverted red button">Internacional</button>
  </div>
</div>

<div class="ui container brand fade">
  <img src="../../../assets/img/hermes-brand.SVG" alt="">
</div>

<app-upbutton class="fade" (click)="toUp()" *ngIf="show"></app-upbutton>

<div class="ui container lastest">
  <app-lastestfeed *ngIf="lastestShow" [lastestArticles]="lastestArticles"></app-lastestfeed>
</div>

<div class="ui container inicio">
  <app-feedarticle *ngIf="regionalShow" [Category]="categorys[0]" [Articles]="regionalArticles"></app-feedarticle>
  <app-feedarticle *ngIf="localShow" [Category]="categorys[1]"  [Articles]="localArticles"></app-feedarticle>
  <app-feedarticle *ngIf="nacionalShow" [Category]="categorys[2]"  [Articles]="nationalArticles"></app-feedarticle>
  <app-feedarticle *ngIf="estatalShow" [Category]="categorys[3]" [Articles]="estatalArticles"></app-feedarticle>
</div>


<div class="footer fade">
  <div>
    <i class="facebook icon big"></i>
   <i class="twitter icon big"></i>
  </div>
   <p>&copy;Derechos Reservados</p>
</div>

