<div class="ui container category fade">
  <div (click)="goToLocal()" class="local">
    <button>Local</button>
  </div>
  <div class="regional">
    <button>Regional</button>
  </div>
  <div class="Estatal">
    <button >Estatal</button>
  </div>
  <div class="nacional">
    <button>Nacional</button>
  </div>
  <div class="internacional">
    <button>Internacional</button>
  </div>
</div>


<app-slider></app-slider>


<div class="ui container">
  <div class="banner fade">
    <div>
      <h1>Últimas Noticias</h1>
    </div>
    <div class="title-local">
      <h1>Últimas Noticias Locales</h1>
    </div>

  </div>

  <div class="inicio">
    <div class="last-news">
      <app-feed [article]="article" [id]="article._id" *ngFor="let article of lastestArticles"></app-feed>
  </div>
  <div class="local-news">
    <app-feed [article]="article" [id]="article._id" *ngFor="let article of localArticles"></app-feed>
  </div>
  </div>

</div>

