<div class="article fade">
  <h1 class="title">{{ article.title }}</h1>
  <h3 class="summary">{{ article.summary }}</h3>
  <img [src]="getImage()" alt="">
  <div id="info" class="content">
    <p></p>
  </div>
    <div class="footer">
      <div>
        <p>Autor: {{ article.author }}</p>
      </div>
      <div (click)="goHome()" class="arrow">
        <img src="../../../assets/img/arrow.png" alt="">
      </div>
      <div>
        <p>Fecha: {{ article.date | date }}</p>
      </div>

    </div>
</div>
