.button{
display: flex;
width: 90%;
justify-content: end;
overflow:visible;
}

.button i{
  cursor: pointer;
  position: fixed;
  z-index: 100;
}

.button:hover{
  animation-name: up;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}

@keyframes up{
  from{
    height: 0px;
  }to{
    height: 200px;
  }
}

@media (max-width: 400px){
  .button{
    width: 100%;
  }

  .button i{

  }
}
