.button{
display: flex;
width: 90%;
justify-content: end;
overflow:visible;
}

.button i{
  cursor: pointer;
  position: fixed;
  z-index: 100;
}

@media (max-width: 400px){
  .button{
    width: 102%;
    margin-right: 0px;
  }

}
