/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Oswald', sans-serif;
}

h1{
  text-align: center;
  font-size: 60 px;
  margin-top: 25px;
}

.navAnimated{
  animation-name: navbar;
  animation-duration: 1.5;
  animation-timing-function: ease-in;
}

.fade{
  animation-name: fade;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

.cardSlider{
  animation: cardSlide;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes navbar{
  from{
    margin-right: 1000px;
  }
  to{
    margin-right: 0px;
  }
}

@keyframes fade{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}

@keyframes cardSlide{
  from{
    margin-top: 200px;
  }to{
    margin-top: 0px;
  }
}
